<nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark bg-default ">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']"  href="javascript:void(0)">Home
            <span class="sr-only">(current)</span>
          </a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/alert']"  href="javascript:void(0)">Alertes
            <span class="sr-only">(current)</span>
          </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Réclamation</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Suivre Mes Réclamation</a>
            <a [routerLink]="['/reclamation']" class="dropdown-item">Consulter toutes les réclamtion</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['/protocoleineas']" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Protocoles INEAS</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
       
       
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-navbar" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-download mr-2"></i>
            </span>
            <span class="nav-link-inner--text">{{role}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
