
<div class="container" id="AlertList">   
   <div class="row" >

<ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Publier une rupture</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group" [ngClass]="{'focused':focus1===true}">
        <div class="input-group input-group-alternative mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
            </div>
            <input class="form-control" value="{{selectedMed}}" placeholder="Search" type="text" (focus)="focus1=true" (blur)="focus1=false"  [(ngModel)]="searchedMed">
          </div>
        </div>
       </div>
     <div class="list-group"  *ngIf="!isSelected" >
        <li class="list-group-item" *ngFor=" let med of medicaments"
        [hidden]="!isSearched(med)"
        (click)="select(med)">
            {{med}}
        </li>
     </div>
     <div class="form-group container" *ngIf="isSelected">
        <label for="exampleFormControlTextarea1">Informations Importantes</label>
        <textarea [(ngModel)]="info" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        <label for="datePrevu">Date de réapprovisoinnement prévue</label>
        <input type="date" id="datePrevu">
      </div>
    
    <div class="modal-footer">
      <button type="button" class="btn " (click)="addAlert()">Ajouter</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Fermer</button>
    </div>
  </ng-template>
        <div class="col-md-3" id="addReclamation">
            <button class="btn btn-1 btn-outline-default"  (click)="triggerModal(modalData)">
                <i class="fa fa-plus" aria-hidden="true" ></i>
                Publier une Alerte!
            </button>           
        </div>
        
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item active bg-gradient-default">
                    <div class="row" >
                        <div class="col col-2"> Médicament</div>
                        <div class="col col-2"> Référence Médicament</div>
                        <div class="col col-2"> Date d'alert</div>
                        <div class="col col-5"> Autres Informations</div>
                    </div>       
                </li>
                
                <li   class="list-group-item">
                    <div class="row">
                        <div class="col col-2"> Ziagen</div>
                        <div class="col col-2">4 </div>
                        <div class="col col-2"> 12/12/2022</div>
                        <div class="col col-5"> Autres Informations</div>
                    </div>    
                </li>
                <li   class="list-group-item">
                    <div class="row">
                        <div class="col col-2"> Acetadote</div>
                        <div class="col col-2">5</div>
                        <div class="col col-2"> 12/10/2022</div>
                        <div class="col col-5"> Autres Informations</div>
                    </div>  
                      
                </li>
                <li   class="list-group-item">
                    <div class="row">
                        <div class="col col-2"> Fosmax</div>
                        <div class="col col-2">6 </div>
                        <div class="col col-2"> 12/09/2022</div>
                        <div class="col col-5"> Autres Informations</div>
                    </div>    
                </li>
                <li   class="list-group-item" [hidden]="!clicked">
                    <div class="row" >
                        <div class="col col-2"> Panadole</div>
                        <div class="col col-2">7 </div>
                        <div class="col col-2"> 30/09/2022</div>
                        <div class="col col-5"> Autres Informations</div>
                    </div>    
                </li>
            </ul> 
        </div>
    </div>
</div>    
