<div id="reclamationList" class="">
    

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Selectionner un médicament pour le déclarer manquant chez vous</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [ngClass]="{'focused':focus1===true}">
        <div class="input-group input-group-alternative mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
          </div>
          <input class="form-control" value="{{selectedMed}}" placeholder="Search" type="text" (focus)="focus1=true" (blur)="focus1=false"  [(ngModel)]="searchedMed">
        </div>
      </div>
   </div>
   <div class="list-group">
    <li class="list-group-item" *ngFor=" let med of medicaments"
    [hidden]="!isSearched(med)"
    (click)="select(med)">
        {{med}}
    </li>
   </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="saveReclamation(selectedMed)">Ajouter</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>
   <div class="row">
        <div class="col-md-3" id="addReclamation" >
            <button class="btn" (click)="triggerModal(modalData)" *ngIf="isPharmacist">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Ajouter une Réclamation
            </button>           
        </div>
        
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col col-2"> Médicament</div>
                        <div class="col col-2"> Réference</div>
                        <div class="col col-2"> Source</div>
                        <div class="col col-2"> Date</div>
                        <div class="col col-2"> Vote</div>
                        <div class="col col-2"> Resultat Vote</div>
                    </div>       
                </li>
                <li *ngFor="let rec of reclamations" class="list-group-item">
                    <div class="row">
                        <div class="col col-2"> {{rec.drug}}</div>
                        <div class="col col-2"> {{rec.id}}</div>
                        <div class="col col-2"> {{rec.senderRole}}</div>
                        <div class="col col-2"> {{rec.date |date}}</div>
                        <div class="col col-2"> 
                            <div class="custom-control custom-radio mb-3">
                                <input name="vote{{rec.id}}" class="custom-control-input" id="customRadio{{rec.id}}1" type="radio"
                                (change)="onVote(1,rec.id)">
                                <label class="custom-control-label" for="customRadio{{rec.id}}1">
                                <span>Yes</span>
                                </label>
                            </div>
                            <div class="custom-control custom-radio mb-3">
                                <input name="vote{{rec.id}}" class="custom-control-input" id="customRadio{{rec.id}}0" type="radio"
                                (change)="onVote(0,rec.id)">
                                <label class="custom-control-label" for="customRadio{{rec.id}}0">
                                <span>No</span>
                                </label>
                            </div>
                        </div>
        
                        
                        <div class="col col-2"> <div class="progress-wrapper">
                            <div class="progress-info  " >
                            <div class="progress-label">
                                <span>Product Disponibility</span>
                            </div>
                            <div class="progress-percentage">
                                <span>{{rec.yes*100/(rec.yes+rec.no) || "Not Answered"}}</span>
                            </div>
                            </div>
                            <ngb-progressbar [color]="warn" type="default" [value]="rec.yes*100/(rec.yes+rec.no) || 0"></ngb-progressbar>
                        </div></div>
                    </div>     
                </li>
               
            </ul> 
            <div class="container">
                <div class="row">
                    <nav aria-label="Page navigation example" id="recpagination">
                        <ngb-pagination [collectionSize]="50" 
                          aria-label="Default pagination">
                          <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i></ng-template>
                          <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i></ng-template>
                        </ngb-pagination>
                    </nav>
                </div>
                
            </div>
            
        </div>
    </div>
    
</div>
